# IDE
/.claude
/.idea
/.vscode

# dependencies
node_modules/

# builds
.expo/
.turbo/
dist/
android/
ios/
**/shared/lib/
**/shared/src/
**/web/build/

# tests
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*
expo-env.d.ts

# cache
.eslintcache

# typescript
*.tsbuildinfo

# operating system
.DS_Store
*.pem

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Tarballs
*.tgz
*.tar.gz

# Metro
.metro-health-check*
